<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Encaminha tudo para o server.js via iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Serve ficheiros/diretórios físicos normalmente -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- Resto vai para o Node -->
        <rule name="NodeRoute" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="iisnode-logs"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
  </system.webServer>

  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\betweenpercentages.pt\tmp" />
  </system.web>
</configuration>
